html {
  font-size: 62.5%;
}

body{
  background-color:$blueColor;
  // min-height: 100vh;
  
}
.App{
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .parent{
    flex-grow:1;    
    }
  }

.mainContainer{
  margin: 20px auto;
}

.wrapper {
  max-width: 1600px;
  width: 90%;
  margin: 0 auto;
  // border: 1px solid red;
}

.triviaQuestions {
  text-align: left;
}

.questionContainer {
  text-align: left;
}

.choiceContainer {
  display: flex;
  flex-direction: column;
  padding: 15px 0;
}


.answerLabel {
  margin: 0 20px;
  // width: 50%;

}

input #answer {
  color: blue;
}



