html {
  font-size: 62.5%;
}

body {
  background-color: $blueColor;
}
.App {
  background-color: $blueColor;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.parent {
  flex-grow: 1;
}

.mainContainer {
  margin: 20px auto;
}

.wrapper {
  max-width: 1600px;
  width: 90%;
  margin: 0 auto;
  // border: 1px solid red;
}

.triviaQuestions {
  text-align: left;
}

.choiceContainer {
  display: flex;
  flex-direction: column;
  padding: 15px 0;
}
