input[type='text'] {
  font-family: $basicFont;
  @include fluid-font-size(1.6rem, 2.5rem);
  padding: 10px 25px 10px 10px;
  width: 200px;
  margin: 20px 0px;
  color: $turquoiseColor;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid $turquoiseColor;
}
button {
  font-family: $basicFont;
  margin: 10px auto;
  @include fluid-font-size(1.6rem, 2rem);
  width: auto;
  padding: 10px;
  border-radius: 5px;
  background-color: $turquoiseColor;  
  color: $blueColor;
  border: none;
  box-shadow: 3px 3px $shadowColor;
  transition: all ease-in-out 0.2s;
}

button:hover,
button:focus {
  transform: translateY(4px);
  box-shadow: 3px 3px $turquoiseColor;
  color: $whiteColor;
  background-color: $blueColor;
  border: 1px solid $turquoiseColor;
}

.dropDown {
  margin: 20px auto;
  width: 70%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  select {
    margin: 10px auto;
    width: 100%;
    background-image: url('..//assets/arrow.png');
    background-repeat: no-repeat;
    background-position: 95% center;
    background-size: 15px 15px;    
    background-color: $whiteColor;
    padding: 10px 25px 10px 10px;
    text-transform: lowercase;
    box-shadow: 4px 4px $shadowColor;
    @include fluid-font-size(1.6rem, 2.5rem);
    border-radius: 15px;
    border: 2px solid $raspberryColor;
    appearance: none;
    outline: none;
    cursor: pointer;
    text-align: center;
    color: $blueColor;
    transition: all ease-in-out 0.2s;
  }

  select:hover,
  select:focus-within {
    box-shadow: 4px 4px $raspberryColor;
  }
  button {
    margin: 10px auto;
    @include fluid-font-size(2rem, 3rem);
    width: auto;
    padding: 10px;
    border-radius: 5px;
    background-color: $raspberryColor;    
    color: $whiteColor;
    border: none;
    box-shadow: 3px 3px $shadowColor;
    transition: all ease-in-out 0.2s;
  }

  button:hover,
  button:focus {
    transform: translateY(4px);
    box-shadow: 3px 3px $raspberryColor;
    color: $raspberryColor;
    background-color: $whiteColor;
  }
}

.questions {
  background-color: rgba(185, 19, 114, 0.7);
  box-shadow: 5px 5px $whiteColor;
  padding: 20px 40px;  
  @include animated-underline-label($whiteColor, 'span');

  input[type='radio'] {
    display: none;
    + label.answerLabel {
      display: inline-block;
      position: relative;
      color: $whiteColor;
      @include fluid-font-size-questions(2rem, 3rem);      
      cursor: pointer;
      user-select: none;
      margin-left: 20px;
      &::before {
        position: absolute;
        transition: all 0.2s ease-in-out;
        content: '';
        @include fluid-width-height(1.6rem, 2rem);
        border-radius: 50%;
        background-color: $whiteColor;
        border: 0px solid $whiteColor;
        font-size: 0;
        position: absolute;
        bottom: 50%;
        left: -25px;
        transform: translate(-50%, 50%);
      }
    }
    &:checked + label.answerLabel {
      &::before {
        background-color: transparent;
        @include fluid-width-height(1.6rem, 3rem);
        border-width: 2px;
      }
    }
  }
  button {
    margin: 20px auto;
    @include fluid-font-size(2rem, 3rem);
    width: auto;
    padding: 10px;
    border-radius: 5px;    
    color: $whiteColor;
    background-color: $blueColor;
    border: 1px solid $whiteColor;
    box-shadow: 3px 3px $shadowColor;
    transition: all ease-in-out 0.2s;
  }

  button:hover,
  button:focus {
    transform: translateY(4px);
    box-shadow: 3px 3px $raspberryColor;
    color: $raspberryColor;
    background-color: $whiteColor;
  }
}

.startGame {
  margin: 50px auto;
  width: 60%;
  h2 {
    text-align: center;
    @include fluid-font-size(2rem, 4rem);
    color: $whiteColor;
  }
}

h3 {
  display: flex;  
  list-style: none;
  color: $whiteColor;
  @include fluid-font-size(2rem, 3rem);
  padding: 5px;
  margin:15px 0;
  text-align: left;
  text-shadow: 1px 1px 1px $raspberryColor,
            1px 2px 1px $raspberryColor,
            1px 3px 1px $raspberryColor,
            1px 4px 1px $raspberryColor,
            1px 5px 1px $raspberryColor,
            1px 6px 1px $raspberryColor,            
}

.mainContainer {
  display: flex;
}

.formContainer,
.questionContainer,
.finalResultContainer {
  min-width: 70%;
}

.userSetupContainer {
  min-width: 30%;
  padding: 20px;
  margin: 20px;
    li {
      @include fluid-width-height(25rem, 40rem); 
      list-style: none;
      display: flex;
      flex-direction: column;           
      padding: 15px;
      margin: 10px;
      background-color: $raspberryColor;
  } 
  
  .playingInfoContainer {
    display: flex;    
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;      
    }

  .imgContainer {
    @include fluid-width-height(12rem, 20rem); 
    margin: 10px auto; 

    .userAvatar {
      max-width: 100%;
      height: auto;
      border-radius: 50%;
      border: 3px solid $turquoiseColor;
    }
  }

  .scoreContainer{
    text-align: center;
    h4{
      @include fluid-font-size(1.8rem, 3rem);
      margin: 15px;      
    }

    p{
      @include fluid-font-size(1.6rem, 2rem);
      margin: 0;
    }
  }

  

}
