$blueColor:#042C4E;
$redColor:#FF0022;
$whiteColor:#FDFFFC;
$turquoiseColor:#41EAD4;
$raspberryColor:#B91372;
$shadowColor:#FBDAED;
$headerFooterColor:rgba(251, 218, 237,0.4);
$h1Shadow:rgba(4, 44, 78,0.4);
$avatarBackground:rgba(65, 234, 212, 0.4);
$avatarHeaderShadow:rgba(39, 153, 138, 0.4);
$questionsBackground:rgba(185, 19, 114, 0.7);
$scoreBoardColor:rgba(252, 236, 245, 0.85);


$h1font:'Poiret One', cursive;
$basicFont:'Hind Siliguri', sans-serif;


