$blueColor:#011627;
$redColor:#FF0022;
$whiteColor:#FDFFFC;
$turquoiseColor:#41EAD4;
$raspberryColor:#B91372;

$h1font:'Poiret One', cursive;
$basicFont:'Hind Siliguri', sans-serif;

// font-family: 'Hind Siliguri', sans-serif;
// font-family: 'Poiret One', cursive;
